<h2>Общая информация о «АЛ Груп»</h2>
<div class="block">
  Главный принцип в работе «АЛ Груп» - мы строим Вам бизнес как для себя. Именно поэтому мы предпочитаем индивидуальный подход. В этом случае, каждый наш специалист сможет в полной мере передать Вам имеющийся опыт, а также предостеречь от неправильных капиталовложений и существенно снизить риск неудач при организации бизнеса. Кроме того, Вы можете выбрать дальнейшее бизнес сопровождение, которое станет Вашим страховым полисом и позволит до минимума сократить  возможные риски.
</div>

<div class="section">
  <h3>Юридические услуги</h3>
  <ul>
    <li>Юридический аутсорсинг </li>
    <li>Юридическое обслуживание </li>
    <li>Представительство в суде </li>
    <li>Подготовка и изучение договоров  </li>
    <li>Семейное право</li>
    <li>Ведение учета частных предпринимателей </li>
    <li>Помощь в решении хозяйственных споров </li>
    <li>Претензионно-исковая деятельность </li>
    <li>Недвижимость</li>
    <li><h3>Юридические консультации</h3>
  </ul>
</div>

<div class="section">
  <h3>Услуги адвоката</h3>
  <ul>
    <li>Уголовные дела</li>
    <li>Недвижимость</li>
    <li>Взыскание задолженности</li>
    <li>Расторжение брака</li>
    <li>Раздел имущества</li>
    <li>Семейные споры</li>
    <li>Помощь при ДТП</li>
    <li>Жилищные споры</li>
    <li>Трудовые споры</li>
    <li>Страховые споры</li>
    <li>Наследование имущества</li>
    <li>Налоговые споры</li>
    <li>Защита прав потребителей</li>
  </ul>
</div>

<div class="section">
  <h2>Бухгалтерское сопровождение</h2>
  <ul>
    <li>Работа в 1С</li>
    <li>Создание базы в 1С</li>
    <li>Обработка и ведение хозяйственных операций в 1С</li>
    <li>Консультации по бухгалтерскому и налоговому учёту (устные)</li>
    <li>Проверка правильности оформления первичной документации
        <ul>
        <li>Проверка выписанной документации клиентам</li>
        <li>Проверка приходной документации от поставщиков </li>
        </ul>
    </li>
    <li>Прохождение проверок за ведомый период
      <ul>
        <li>Налоговых</li>
        <li>Встречных</li>
        <li>Фондов социального страхования</li>
      </ul>
    </li>
    <li>Недвижимость</li>
  </ul>
</div>

<div class="section">
  <h2>Регистрация и ликвидация</h2>
  <ul>
    <li>Регистрация предприятий всех организационно-правовых форм и их структурных подразделений</li>
    <li>Внесение изменений в данные о предприятии; </li>
    <li>Реорганизация, ликвидация  </li>
    <li>Регистрация физических лиц - предпринимателей (СПДФЛ)   </li>
  </ul>
</div>
