<div style="width:950px;margin:auto">
    <p style="font-size: 12px; color:grey; padding-left:20px; margin-bottom:-15px"><%= @post.created_at.strftime('%d/%m/%Y') %></p>
    <h1><%= link_to @post.title, @post %></h1>
  
    <p class="post-body">
      <%= raw @post.body %>
    </p>
</div>