body {
  font-family: arial, tahoma, verdana;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.text {
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
}


.shrift2 {
  font-size: 14px;  
}

.menu-text {
  font-size: 16px;
  background-color:#fff;
}

.menu-text:link {
  font-size: 16px;
  background-color:#fff;
}

.menu-text:visited {
  font-size: 16px;
  background-color:#fff;
}

.menu-text:hover {
  font-size: 16px;
  background-color:#fff;
}

.menu-text2{
  font-size: 16px;
  background-color:#fff;
}

.adress {
  font-size: 24px;
  color:#666;
  text-decoration: none;
}

.adress-mail {
  font-size: 18px;
  color:#666 ;
}

.adress-mail:visited {
  font-size: 18px; 
  color:#666 ; 
}

.adress-mail:hover {
  font-size: 18px; 
  text-decoration:underline; color:#666 ; 
}

.menu {
  background-color: #fff;
  font-size: 14px;
}

.menu:link {
  background-color: #fff;
  font-size: 14px;
}

.menu:visited {
  background-color: #fff;
  font-size: 14px;
}

.menu:hover {
  background-color: #ff3;
  font-size: 14px;
}

.menu-wibranoe {
  background-color: #ff3;
  font-size: 14px;
}

.menu-pravoe {
  font-size: 16px;
  color: #e9e9e9;
}

.menu-pravoe:link {
  font-size: 16px;
  color: #e9e9e9;
}
.menu-pravoe:visited {
  font-size: 13px;
  color: #e9e9e9;
}

.menu-pravoe:hover {
  font-size: 16px;
  color: #e9e9e9;
  text-decoration:underline;
}

.menu-levoe-razdely {
  font-size: 14px;
  color: #575757;
}

.menu-levoe-razdely:link {
  font-size: 14px;
  color: #575757;
}

.menu-levoe-razdely:visited {
  font-size: 14px;
  color: #575757;
}

.menu-levoe-razdely:hover {
  font-size: 14px;
  color: #c3c;
}

.niz {
  color:#000;
  font-size: 9px;
}

.niz:link{
  color:#000;
  font-size: 9px;
}

.niz:visited { 
  color:#000;
  font-size: 9px;
}

.niz:hover {
  color:#f3c;
  font-size: 9px;
}

.niz-niz {
  color:#000;
  font-size: 9px;
}

.serij-text {
  color:#999;
  font-size: 20px;
}

.straniza-zaglawie {
  font-family: arial, helvetica, sans-serif;
  font-size: 30px;
  color:#000;
}

.top-menu {
  font-size: 16px;
}

.top-menu  {
  background-color: #fff;
}

.top-menu a:visited {
  background-color: #fff;
}

.top-menu a:hover {
  background-color: #ff3;
}

.top-menu td {
  text-align: center;
}