<table width="192" border="0" height="40" cellspacing="0" cellpadding="0">
  <tr>
    <td height="40">&nbsp;</td>
  </tr>
</table>

<table width="801" height="91"   border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="620" height="110" valign="top">
          <%= link_to image_tag('LOGO_Algroup.jpg', alt: 'logo'), page_path %>
      </td>

      <td width="165" align="right" valign="top">
        <span class="adress">
          тел. +380 (067) 964 06 81<br>
          +380 (097) 529 74 06<br>
          <a href="mailto:info@algroup.com.ua" class="adress-mail">info@algroup.com.ua</a>
        </span>
      </td>
    </tr>
</table>

<table width="800" height="46" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="799" height="44" align="left">
    
      <table width="800"   border="0" align="left" cellpadding="0" cellspacing="0"  class=" shrift2">
          <tr>
            <td width="158" align="left" valign="top">
              <a href="/jur-uslugi" class="menu">Юридические услуги</a>
            </td>
            
            <td width="22"></td>
            <td width="182" align="left" valign="top">
              <a  href="/registrazija-likvidazija" class="menu">Регистрация/Ликвидация</a>
            </td>
            
            <td width="20"></td>
            <td width="113" align="left" valign="top">
              <a href="/advokat" target="_self" class="menu">Услуги адвоката</a>
            </td>
            
            <td width="19"></td>
            <td width="217" align="left" valign="top">
              <a class="menu" href="/buh_soprovogdenie" target="_self">Бухгалтерское сопровождение</a>
            </td>

            <td width="11" align="left" ></td>
            <td width="58" align="left" valign="top">
              <a href="/zeny" target="_self" class="menu">Цены</a>
            </td>
        </tr>
      </table>
      
    </td>
  </tr>
  
  <tr>
    <td height="1" align="left" valign="bottom" bgcolor="#000000"></td>
    <td width="1" height="1" bgcolor="#000000"></td>
  </tr>
</table>

<table width="100"  height="15" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </td>
  </tr>
</table>